body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DDDDDD;
}

nav {
    background-color: #125D98;
    text-align: center;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}

.menu li {
    position: relative;
}

.menu li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #F5A962;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #3C8DAD;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li:hover .submenu {
    display: block;
}

.submenu li a {
    padding: 10px 15px;
}

.submenu li a:hover {
    background-color: #F5A962;
}

.submenu2 {
    display: none;
    position: absolute;
    background-color: #3C8DAD;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li:hover .submenu2 {
    display: block;
}

/* .submenu2 li a {
    padding: 10px 15px;
} */

.submenu2 li a:hover {
    background-color: #F5A962;
}